.DS_Store
Thumbs.db

.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln

node_modules/
vendor/

/dist/
/build/
/out/
*.exe
*.dll
*.so
*.dylib
*.jar
*.class

logs/
*.log
*.tmp
*.cache
*.exe

.env
.env.local

*.lock
package-lock.json
yarn.lock
pnpm-lock.yaml
signtool.txt
app.spec

*.o
*.obj
*.pyc
*.pyo
*.pyd

*.bak
*.swp
*.swo

*.pfx
*.iss
